:root {
  color-scheme: light dark; /* both supported */
}
html {
  --scrollbar-thumb: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  height: 6px !important;
  width: 3px !important;
  /* Track */
  &-track {
    background: transparent;
  }
  /* Handle */
  &-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    /* Handle on hover */
    &:hover {
      background-color: var(--scrollbar-thumb-hover);
    }
  }
}

body {
  overflow: hidden;
}
