<template>
  <div class="home">
    <FormataValor :valor="valor" />
    <FormataValue :valor="valor" />
    <div><Button :on-click="log">BOTAO</Button></div>
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
// import BtnPush from '@/components/BtnPush.vue'
import { Button, FormataValor } from 'vue-lib-boilerplate'

export default {
  name: 'Home',
  components: {
    HelloWorld,
    FormataValor,
    Button,
    // BtnPush, TODO Resolver Bug no IOS
  },
  data() {
    return {
      valor: 0,
    }
  },
  beforeMount() {
    // console.log(Lib)
  },
  methods: {
    log: (e) => console.log(e),
  },
}
</script>
