<template>
  <v-container class="settings">
    <section>
      <v-row>
        <v-col>
          <h2>Device Settings</h2>
          <!-- <NotificationsSettings /> -->
          <code>Não funciona no iOS</code>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h2>Component dinâmico</h2>
          <!-- <NotificationsSettings /> -->
          <TesteComponent />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h2>Colors</h2>
          <v-switch
            v-model="useOsColorScheme"
            @change="HandleUseOsColorScheme"
            hide-details
            inset
            label="Usar esquema de cores do Sistema Operacional"
          ></v-switch>
          <v-switch
            v-model="darkMode"
            @change="HandleDarkMode"
            hide-details
            inset
            :disabled="useOsColorScheme"
            label="Usar tema escuro (Dark Mode)"
          ></v-switch>
          <template v-for="(item, i) in colors">
            <div :key="i" class="bg-amber" :color="item.label">
              {{ item.label }}
            </div>
          </template>
        </v-col>
      </v-row>
    </section>
  </v-container>
</template>

<script>
// @ is an alias to /src
// import NotificationsSettings from '@/components/NotificationsSettings.vue'
import ColorScheme from '@/_Tools/ColorScheme'
import AsyncComponentLoader from '@/_Tools/AsyncComponentLoader'

const counter = {
  src:
    'https://f2p.com.br/vue-libs/rsv-teste/RsvTesteComponent.0e3563d8468df3a60d9a.umd.min.js',
  style:
    'https://f2p.com.br/vue-libs/rsv-teste/RsvTesteComponent.0e3563d8468df3a60d9a.css',
}
const TesteComponent = () => AsyncComponentLoader(counter)

export default {
  name: 'Settings',
  components: {
    // NotificationsSettings,
    TesteComponent,
  },
  data() {
    return {
      darkMode: false,
      useOsColorScheme: null,
      colorScheme: new ColorScheme(this.$vuetify),
      colors: [
        {
          label: 'amber',
        },
      ],
    }
  },
  created() {
    this.darkMode = this.colorScheme.getUserColorScheme() === 'dark'
    this.useOsColorScheme = !this.colorScheme.getIgnoreOsScheme()
  },
  methods: {
    HandleUseOsColorScheme(value) {
      if (value) {
        this.colorScheme.useOsScheme()
      } else {
        this.colorScheme.bypassOsScheme()
      }
    },
    HandleDarkMode(value) {
      this.colorScheme.setUserColorScheme(value ? 'dark' : 'light')
    },
  },
}
</script>
