<template>
  <v-content>
    <p>
      Welcome to the push messaging codelab. The button below needs to be fixed
      to support subscribing to push.
    </p>
    <p>
      <v-btn class="js-push-btn">Enable Push Messaging</v-btn>
    </p>
    <section class="subscription-details js-subscription-details is-invisible">
      <p>
        Once you've subscribed your user, you'd send their subscription to your
        server to store in a database so that when you want to send a message
        you can lookup the subscription and send a message to it.
      </p>
      <p>
        To simplify things for this code lab copy the following details into the
        <a href="https://web-push-codelab.glitch.me/">Push Companion Site</a>
        and it'll send a push message for you, using the application server keys
        on the site - so make sure they match.
      </p>
      <pre><code class="js-subscription-json"></code></pre>
    </section>
  </v-content>
</template>
<script>
export default {
  name: 'BtnPush',
  data() {
    return {
      pushButton: null,
      isSubscribed: false,
      swRegistration: window.swRegistration,
      applicationServerPublicKey:
        'BHdd2PwLOsYaDQQOmqw_' +
        '8KIIYOQYECWNlat0K8GScnytjV88e6Xifn0GMz7MbScAkxf_kVJhnp-0NrB_P4u6WHw',
    }
  },
  methods: {
    urlB64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4)
      const base64 = (base64String + padding)
        // eslint-disable-next-line
        .replace(/\-/g, '+')
        .replace(/_/g, '/')

      const rawData = window.atob(base64)
      const outputArray = new Uint8Array(rawData.length)

      for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i)
      }
      return outputArray
    },

    updateBtn() {
      if (Notification.permission === 'denied') {
        this.pushButton.textContent = 'Push Messaging Blocked.'
        this.pushButton.disabled = true
        this.updateSubscriptionOnServer(null)
        return
      }

      if (this.isSubscribed) {
        this.pushButton.textContent = 'Disable Push Messaging'
      } else {
        this.pushButton.textContent = 'Enable Push Messaging'
      }

      this.pushButton.disabled = false
    },
    updateSubscriptionOnServer(subscription) {
      // TODO: Send subscription to application server

      const subscriptionJson = document.querySelector('.js-subscription-json')
      const subscriptionDetails = document.querySelector(
        '.js-subscription-details'
      )

      if (subscription) {
        subscriptionJson.textContent = JSON.stringify(subscription)
        subscriptionDetails.classList.remove('is-invisible')
      } else {
        subscriptionDetails.classList.add('is-invisible')
      }
    },
    subscribeUser() {
      const applicationServerKey = this.urlB64ToUint8Array(
        this.applicationServerPublicKey
      )
      this.swRegistration.pushManager
        .subscribe({
          userVisibleOnly: true,
          applicationServerKey: applicationServerKey,
        })
        .then(subscription => {
          console.log('User is subscribed.')

          this.updateSubscriptionOnServer(subscription)

          this.isSubscribed = true

          this.updateBtn()
        })
        .catch(err => {
          console.log('Failed to subscribe the user: ', err)
          this.updateBtn()
        })
    },
    unsubscribeUser() {
      this.swRegistration.pushManager
        .getSubscription()
        .then(subscription => {
          if (subscription) {
            return subscription.unsubscribe()
          }
        })
        .catch(error => {
          console.log('Error unsubscribing', error)
        })
        .then(() => {
          this.updateSubscriptionOnServer(null)

          console.log('User is unsubscribed.')
          this.isSubscribed = false

          this.updateBtn()
        })
    },

    initializeUI() {
      this.pushButton.addEventListener('click', () => {
        this.pushButton.disabled = true
        if (this.isSubscribed) {
          this.unsubscribeUser()
        } else {
          this.subscribeUser()
        }
      })
      // Set the initial subscription value
      this.swRegistration.pushManager.getSubscription().then(subscription => {
        this.isSubscribed = !(subscription === null)

        this.updateSubscriptionOnServer(subscription)

        if (this.isSubscribed) {
          console.log('User IS subscribed.')
        } else {
          console.log('User is NOT subscribed.')
        }

        this.updateBtn()
      })
    },
  },
  mounted() {
    this.pushButton = document.querySelector('.js-push-btn')
    this.initializeUI()
  },
}
</script>
<style lang="scss" scoped></style>
