<template>
  <div class="notification-settings">
    <h2>
      <v-icon>mdi-message-cog-outline</v-icon>
      Notificações
    </h2>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <!-- Header section containing title -->
      <header
        class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700"
      >
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
          <div
            class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop"
          >
            <h3>Firebase Cloud Messaging</h3>
          </div>
        </div>
      </header>

      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
          <!-- Container for the Table of content -->
          <div
            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop"
          >
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
              <!-- div to display the generated Instance ID token -->
              <div id="token_div" style="display: none;">
                <h4>Instance ID Token</h4>
                <p id="token" style="word-break: break-all;"></p>
                <v-btn v-on:click="deleteToken">
                  Delete Token
                </v-btn>
              </div>
              <!-- div to display the UI to allow the request for permission to
               notify the user. This is shown if the app has not yet been
               granted permission to notify. -->
              <div id="permission_div" style="display: none;">
                <h4>Needs Permission</h4>
                <p id="token"></p>
                <v-btn v-on:click="requestPermission">
                  Request Permission
                </v-btn>
              </div>
              <!-- div to display messages received by this app. -->
              <div id="messages"></div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>
<script>
import * as firebase from 'firebase/app'
import 'firebase/messaging'
// [START get_messaging_object]
// Retrieve Firebase Messaging object.
const messaging = firebase.messaging()
// [END get_messaging_object]
// [START set_public_vapid_key]
// Add the public key generated from the console here.
messaging.usePublicVapidKey(
  'BDb7NicV8ZyWck1ymTBwBLL8MoMhWyh-sVMTWRoMiCPVVg1RLOO3mCHNt2kHGShZukaSlZRMzxH4M09NgluDj8k'
)
// [END set_public_vapid_key]

export default {
  name: 'NotificationsSettings',
  data() {
    return {
      // IDs of divs that display Instance ID token UI or request permission UI.
      tokenDivId: 'token_div',
      permissionDivId: 'permission_div',
    }
  },
  methods: {
    showToken(currentToken) {
      // Show token in console and UI.
      const tokenElement = document.querySelector('#token')
      tokenElement.textContent = currentToken
    },

    // Send the Instance ID token your application server, so that it can:
    // - send messages back to this app
    // - subscribe/unsubscribe the token from topics
    sendTokenToServer(currentToken) {
      if (!this.isTokenSentToServer()) {
        console.log('Sending token to server...')
        // TODO(developer): Send the current token to your server.
        this.setTokenSentToServer(true)
      } else {
        console.log(
          "Token already sent to server so won't send it again " +
            'unless it changes'
        )
      }
    },
    isTokenSentToServer() {
      return window.localStorage.getItem('sentToServer') === '1'
    },
    setTokenSentToServer(sent) {
      window.localStorage.setItem('sentToServer', sent ? '1' : '0')
    },
    showHideDiv(divId, show) {
      const div = document.querySelector('#' + divId)
      if (show) {
        div.style = 'display: visible'
      } else {
        div.style = 'display: none'
      }
    },
    requestPermission() {
      console.log('Requesting permission...')
      // [START request_permission]
      Notification.requestPermission().then(permission => {
        if (permission === 'granted') {
          console.log('Notification permission granted.')
          // TODO(developer): Retrieve an Instance ID token for use with FCM.
          // [START_EXCLUDE]
          // In many cases once an app has been granted notification permission,
          // it should update its UI reflecting this.
          this.resetUI()
          // [END_EXCLUDE]
        } else {
          console.log('Unable to get permission to notify.')
        }
      })
      // [END request_permission]
    },
    deleteToken() {
      // Delete Instance ID token.
      // [START delete_token]
      messaging
        .getToken()
        .then(currentToken => {
          messaging
            .deleteToken(currentToken)
            .then(() => {
              console.log('Token deleted.')
              this.setTokenSentToServer(false)
              // [START_EXCLUDE]
              // Once token is deleted update UI.
              this.resetUI()
              // [END_EXCLUDE]
            })
            .catch(err => {
              console.log('Unable to delete token. ', err)
            })
          // [END delete_token]
        })
        .catch(err => {
          console.log('Error retrieving Instance ID token. ', err)
          this.showToken('Error retrieving Instance ID token. ', err)
        })
    },

    // Add a message to the messages element.
    appendMessage(payload) {
      const messagesElement = document.querySelector('#messages')
      const dataHeaderELement = document.createElement('h5')
      const dataElement = document.createElement('pre')
      dataElement.style = 'overflow-x:hidden;'
      dataHeaderELement.textContent = 'Received message:'
      dataElement.textContent = JSON.stringify(payload, null, 2)
      messagesElement.appendChild(dataHeaderELement)
      messagesElement.appendChild(dataElement)
    },

    // Clear the messages element of all children.
    clearMessages() {
      const messagesElement = document.querySelector('#messages')
      while (messagesElement.hasChildNodes()) {
        messagesElement.removeChild(messagesElement.lastChild)
      }
    },
    updateUIForPushEnabled(currentToken) {
      this.showHideDiv(this.tokenDivId, true)
      this.showHideDiv(this.permissionDivId, false)
      this.showToken(currentToken)
    },
    updateUIForPushPermissionRequired() {
      this.showHideDiv(this.tokenDivId, false)
      this.showHideDiv(this.permissionDivId, true)
    },
    resetUI() {
      this.clearMessages()
      this.showToken('loading...')
      // [START get_token]
      // Get Instance ID token. Initially this makes a network call, once retrieved
      // subsequent calls to getToken will return from cache.
      messaging
        .getToken()
        .then(currentToken => {
          if (currentToken) {
            this.sendTokenToServer(currentToken)
            this.updateUIForPushEnabled(currentToken)
          } else {
            // Show permission request.
            console.log(
              'No Instance ID token available. Request permission to generate one.'
            )
            // Show permission UI.
            this.updateUIForPushPermissionRequired()
            this.setTokenSentToServer(false)
          }
        })
        .catch(err => {
          console.log('An error occurred while retrieving token. ', err)
          this.showToken('Error retrieving Instance ID token. ', err)
          this.setTokenSentToServer(false)
        })
      // [END get_token]
    },
  },
  mounted() {
    // [START refresh_token]
    // Callback fired if Instance ID token is updated.
    messaging.onTokenRefresh(() => {
      messaging
        .getToken()
        .then(refreshedToken => {
          console.log('Token refreshed.')
          // Indicate that the new Instance ID token has not yet been sent to the
          // app server.
          this.setTokenSentToServer(false)
          // Send Instance ID token to app server.
          this.sendTokenToServer(refreshedToken)
          // [START_EXCLUDE]
          // Display new Instance ID token and clear UI of all previous messages.
          this.resetUI()
          // [END_EXCLUDE]
        })
        .catch(err => {
          console.log('Unable to retrieve refreshed token ', err)
          this.showToken('Unable to retrieve refreshed token ', err)
        })
    })
    // [END refresh_token]

    // [START receive_message]
    // Handle incoming messages. Called when:
    // - a message is received while the app has focus
    // - the user clicks on an app notification created by a service worker
    //   `messaging.setBackgroundMessageHandler` handler.
    messaging.onMessage(payload => {
      console.log('Message received. ', payload)
      // [START_EXCLUDE]
      // Update the UI to include the received message.
      this.appendMessage(payload)
      // [END_EXCLUDE]
    })
    // [END receive_message]

    this.resetUI()
  },
}
</script>
<style lang="scss" scoped></style>
