<template>
  <v-app v-bind:class="{ mobile: isMobile }">
    <v-navigation-drawer
      v-model="drawer"
      :expand-on-hover="expandOnHover"
      :mini-variant="miniVariant"
      :permanent="permanent"
      :clipped="clipped"
      app
      overflow
      color="amber"
    >
      <v-list nav dense>
        <template v-if="!items">
          <v-list-item :active="true" v-for="i in 6" :key="i">
            <v-list-item-action>
              <v-skeleton-loader
                height="25"
                width="25"
                type="avatar"
                tile
                class="mx-auto"
              />
            </v-list-item-action>
            <v-list-item-content>
              <v-skeleton-loader height="20" type="text" class="mx-auto" />
            </v-list-item-content>
          </v-list-item>
        </template>

        <template v-for="(item, i) in items">
          <v-list-item v-if="item.heading" :key="i" class="py-0 pr-0">
            <v-list-item-content class="text-left pa-0">
              <v-list-item-title class="ma-0 pa-0" align="left">
                {{ item.heading }}
              </v-list-item-title>
            </v-list-item-content>

            <v-list-item-content class="text-right pa-0">
              <v-list-item-subtitle>
                <v-btn small text @click="() => headingAction(item.action)">
                  {{ item.text }}
                </v-btn>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-4"
          ></v-divider>
          <routerLink
            v-else
            :key="i"
            :to="item.link"
            v-slot="{ href, navigate, isExactActive }"
          >
            <v-list-item
              link
              :two-line="!!item.title && !!item.text"
              :active="isExactActive"
              :href="href"
              @click="navigate"
            >
              <v-list-item-action>
                <v-icon>mdi-{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.title }}
                </v-list-item-title>
                <v-list-item-subtitle v-if="!!item.text">{{
                  item.text
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </routerLink>
        </template>
      </v-list>

      <template v-slot:append>
        <v-list dense nav>
          <v-divider dark class="my-0" />
          <template v-if="alias">
            <v-list-item class="py-0 pr-0">
              <v-list-item-content class="text-left pa-0" />

              <v-list-item-content class="text-right pa-0">
                <v-list-item-subtitle>
                  <v-btn small text @click="() => (aliasEdit = !aliasEdit)">
                    {{ aliasEdit ? 'finalizar' : 'editar' }}
                  </v-btn>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <template v-for="(item, i) in alias">
              <routerLink
                :key="i"
                :to="item.link"
                v-slot="{ href, navigate, isExactActive }"
              >
                <v-list-item
                  link
                  :two-line="!!item.title && !!item.text"
                  :active="isExactActive"
                  :href="href"
                  @click="navigate"
                >
                  <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.title }}
                    </v-list-item-title>
                    <v-list-item-subtitle v-if="!!item.text">{{
                      item.text
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action v-if="aliasEdit">
                    <v-icon class="red--text">mdi-close-circle</v-icon>
                  </v-list-item-action>
                </v-list-item>
              </routerLink>
            </template>
            <v-divider dark class="mb-0 mt-4" />
          </template>

          <v-list-item two-line class="my-0 py-0" v-if="license">
            <v-list-item-action>
              <v-icon>mdi-license</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ license.id }}
              </v-list-item-title>
              <v-list-item-subtitle class="text-italic">{{
                license.version
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      color="amber"
      :clipped-left="true"
      :flat="true"
      :dense="true"
      app
    >
      <v-app-bar-nav-icon @click.stop="toogleMenu" />
      <v-avatar size="32px" item>
        <v-img src="./assets/logo.png" alt="Boilerplate"></v-img
      ></v-avatar>
      <v-toolbar-title class="title ml-2 mr-5">
        Boilerplate!
        <span class="font-weight-light">Admin</span>
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <transition name="fade" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-main>

    <v-footer :inset="true" dense app>
      Boilerplate! &copy; {{ new Date().getFullYear() }} - %REPLACE%
    </v-footer>
  </v-app>
</template>

<script>
import { Plugins } from '@capacitor/core'
import { AppServices } from '@/_Services'
import AsyncComponentLoader from '@/_Tools/AsyncComponentLoader'

const { App } = Plugins
const appServices = AppServices.build()

export default {
  name: 'App',

  components: {},

  data() {
    return {
      aliasEdit: false,
      alias: null,
      /* [
        {
          icon: 'mdi-account-plus',
          title: 'Add novo cliente',
          link: 'Home',
        },
      ], */
      license: null,
      isMobile: false,
      screenWidth: 0,
      items: null,
      color: 'primary',
      drawer: !this.isMobile,
      permanent: !this.isMobile,
      miniVariant: !this.isMobile,
      expandOnHover: !this.isMobile,
      clipped: !this.isMobile,
    }
  },
  methods: {
    toogleMenu() {
      if (this.isMobile) {
        this.drawer = !this.drawer
      } else {
        this.miniVariant = !this.miniVariant
        this.expandOnHover = !this.expandOnHover
      }
    },
    onResize() {
      this.isMobile = window.innerWidth < 900
      if (this.screenWidth !== window.innerWidth) {
        this.drawer = !this.isMobile
        this.permanent = !this.isMobile
        this.miniVariant = !this.isMobile
        this.expandOnHover = !this.isMobile
        this.clipped = !this.isMobile
      }
      this.screenWidth = window.innerWidth
    },
    headingAction(action) {
      console.log(action)
    },
  },
  beforeDestroy() {
    console.log('beforeDestroy')
    if (typeof window !== 'undefined') {
      window.removeEventListener('resize', this.onResize, { passive: true })
    }
  },

  mounted() {
    console.log('mounted')
    window.addEventListener('resize', this.onResize, { passive: true })
  },

  beforeCreate() {
    console.log('BeforeCreate')
  },
  created() {
    console.log('created')
    this.onResize()
    this.drawer = !this.isMobile
    this.permanent = !this.isMobile
    this.miniVariant = !this.isMobile
    this.expandOnHover = !this.isMobile
    this.clipped = !this.isMobile
  },
  destroyed() {
    console.log('destroyed')
  },
  beforeMount() {
    /**
     * TODO
     * - Verificar se Tem Usuario Logado
     */
    console.log('beforeMount')

    appServices.get('license').then(
      (response) => {
        this.$router.addRoutes(
          response.data.routes.map((item) => {
            return {
              path: item.path,
              name: item.name,
              component: () => AsyncComponentLoader(item),
            }
          })
        )
        this.items = response.data.nav
        this.license = {
          id: response.data.license.id,
          version: response.data.version,
        }
      },
      (error) => console.log(error)
    )

    App.addListener('appStateChange', (state) => {
      // state.isActive contains the active state
      console.log('App state changed. Is active?', state.isActive)
    })

    App.addListener('appRestoredResult', (data) => {
      console.log('Restored state:', data)
    })

    App.addListener('backButton', (data) => {
      console.log('BackButton Trigger:', data)
    })
  },

  beforeUpdate() {
    console.log('beforeUpdate')
  },
  updated() {
    console.log('updated')
  },
  activated() {
    console.log('activated')
  },
  deactivated() {
    console.log('deactivated')
  },
  errorCaptured(err, vm, info) {
    console.log('errorCaptured', err, vm, info)
  },
}
</script>

<style lang="scss">
@import './styles/global';

.v-application {
  &.mobile {
    .v-main__wrap {
      min-width: 100vw;
    }
  }
  .v-list {
    a {
      color: inherit;
      text-decoration: inherit;
      &[active] {
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        * {
          color: #000;
        }
      }
    }
  }
}
</style>
